*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    background-color: #EF233C;

}
.header a {
    color: #EDF2F4;
    font-size: 3rem ;
}

.section__title {
    text-align: center;
    margin: 2rem auto;
    color: #36383d;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}
.description{
    font-size: 1.2rem;
    margin: 2rem auto;
    padding: 1rem .5rem;
    color: #646971;
}
.description--secondary{
    font-size: .8rem;
    color: #acacac;
}
.description--secondary a {
    color: #acacac;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: stretch;
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
}

.card--cat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 320px;
    padding: 2rem;
    background-color: #EDF2F4;
    box-shadow: 0px 0px 20px #bbc4d2;
    border-radius: 4px;
}

.image__container {
    width: 280px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px #acacac;
    overflow: hidden;
    margin: 1rem;
}
.image__container img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 150%;
    transform: translate(-50%, -50%);
    object-fit:fill;
       
}
.button {
    font-weight: 600;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .5rem 1.3rem;
    transition: 300ms;
    font-size: 1.2rem;
    cursor: pointer;
}
.reload__container {
    display: flex;
    margin: 2rem;
    padding: 1rem;
}
.like__button{
    padding: .2rem 1rem;
    box-shadow: 0px 0px 5px #EF233C;
    color: #EF233C;
    font-size: 1rem;
    
}
.liked__button{
    font-size: 1rem;
    padding: .2rem 1rem;
    box-shadow: 0px 0px 5px #EF233C;
    background-color: #EF233C;
    color: #EDF2F4;

}
.like__button:active, .liked__button:active {
    transform: scale(.8);
}

.reload__button{
    background-color: #0ca678;
    color: #EDF2F4;
    box-shadow: 0px 0px 5px #0ca678;
}
.reload__button i {
    transition: 500ms;
}
.reload__button:active i {
    transform: rotate(360deg);
}


.favs__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

.feature a {
    font-weight: 300;
    text-decoration: none;
    border-radius: 4px;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    color: #36383d;
}
.card--liked-cat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--liked-cat .image__container {
    max-width: 120px;
    max-height: 120px;
}
.card--liked-cat .likedBy {
    margin: 1rem .5rem;
    color: #646971;
}

.unlikeButton {
    font-size: .8rem;
    background-color: #EF233C;
    color: #EDF2F4;
}
.unlikeButton i {
    transition: 200ms;
}
.unlikeButton:active i {
    transform: scale(.8);
}


.modal__container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #acacaca7;
    z-index: 1;
}
.modal__card {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin: 1rem .5rem;
    max-width: 320px;
    height: 320px;
    background-color: #EDF2F4;
    box-shadow: 0px 0px 20px #bbc4d2;
    border-radius: 4px;
}
.modal__card  form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.modal__card h2{
    color: #646971;
}
.modal__card input {
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .5rem 1rem;
    transition: 300ms;
    font-size: 1.2rem;

}
.modal__card a {
    place-self: flex-end;
    color: #EF233C;
}
.input--error {
    box-shadow: 0px 0px 5px #EF233C;
}

.modal__card button {
    font-size: 1rem;
    padding: .2rem 1rem;
    box-shadow: 0px 0px 5px #EF233C;
    background-color: #EF233C;
    color: #EDF2F4;
    
}
.modal__card button:active {
    transform: scale(.8);
}


@media only screen and (max-width: 700px) {
    .images {
        grid-template-columns: 1fr;
    }
    .features__cards{
        flex-direction: column;
    }
    .favs__container {

        grid-template-columns: repeat(2, 1fr);

    }
  }